<a href="https://colab.research.google.com/github/tayfundaldik/PythonProjs/blob/main/Guided_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

ðŸ“Œ Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [42]:
#Open the file in read mode
data = open("/content/employee_revenue.txt","r")
datas= data.read()

In [45]:
#Print the data
print(datas)

 Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines.

To be able to clean the data, you need to separate the text into lines.

ðŸ“Œ Use the .splitlines() method.

In [46]:
#Seperate the data into lines
datas1=datas.splitlines()
print(datas1)

[' Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Clean the data line by line

Start to clean the data for the first line.

ðŸ“Œ Use the .strip() method to remove the whitespaces from the edges of the string.

In [47]:
#Take the first line
first_line = datas1[0]
print(first_line)

 Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

In [48]:
#Remove the whitespaces from the edges
first_line_stripped = first_line.strip()
print(first_line_stripped)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

Next, you need to fix the capitalization issues.

ðŸ“Œ Use the .lower() method to convert the text to lowercase.

ðŸ“Œ Then use the .capitalize() method to capitalize the first letter.

In [49]:
#Convert the string to lowercase
first_lowerized = first_line_stripped.lower()
print(first_lowerized)

ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.

In [50]:
#Capitalize the first character
capital = first_lowerized.capitalize()
print(capital)

Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.

### Information Extraction

To extract the information, you need to split the sentence into words.

ðŸ“Œ Use the .split() method.

In [54]:
#Split the sentence into words
capital_splitted = capital.split()
print(capital_splitted)

['Ben', 'made', '300', 'calls', 'and', 'generated', '2400', 'dollars', 'last', 'month', 'with', 'an', '8$', 'average', 'deal', 'size.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

ðŸ“Œ Use the indeces to extract the name and number of calls.

In [77]:
#Use the index 0 to access the name element
name = capital_splitted[0]
print(name)

Ben

In [78]:
#Use the index 2 to access the number of calls element
number_of_calls=capital_splitted[2]
print(number_of_calls)

300

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

ðŸ“Œ Loop over the list to find the element that includes the "$" sign.

ðŸ“Œ Then, use the .split() method to divide the string into the number and the $ sign.

In [66]:
#Find the element with the "$" sign
for a in capital_splitted:
  if a == "8$":
  #Divide the number from it
    xox = a.split("$")
#Print the average deal size
print(xox[1])

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

ðŸ“Œ Use the .index() method to identify the index for the "dollars" element.

ðŸ“Œ Then, use this index to specify and extract the revenue.

In [72]:
#Find the index of element "dollars"
for i in capital_splitted:
  if "dollars" in i:
    a=capital_splitted.index(i)
    print(a)

7

In [75]:
#Subtract one from the index to identify the index of the revenue element
r = a-1
revenue = capital_splitted[r]

In [76]:
#Extract the revenue
print(revenue)

2400

Great! You extracted all necessary information.

ðŸ“Œ Print the information and check the types of the data.

In [80]:
#Print out the extracted information
print("Name :",name)
print("Number of Calls:",number_of_calls)
print(f"Revenue : {revenue}$")

Name : Ben
Number of Calls: 300
Revenue : 2400$

In [81]:
#Check the types
print("Name :",type(name))
print("Number of Calls:",type(number_of_calls))
print(f"Revenue : {type(revenue)}")

Name : <class 'str'>
Number of Calls: <class 'str'>
Revenue : <class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers.

ðŸ“Œ Convert the data using the int() function and check again.

In [82]:
#Convert the datatypes of average deal size, number of calls, and revenue
number_of_calls=int(number_of_calls)
revenue = int(revenue)

In [83]:
#Print out the information again
print("Name :",type(name))
print("Number of Calls:",type(number_of_calls))
print(f"Revenue : {type(revenue)}")

Name : <class 'str'>
Number of Calls: <class 'int'>
Revenue : <class 'int'>

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

ðŸ“Œ Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

ðŸ“Œ Use a for loop to iterate through the list with the whole data.

ðŸ“Œ Print out the necessary information.

In [84]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names=[]
number_of_calls1=[]
revenues=[]

In [94]:
#Loop over the whole data
for a in datas1:
    #Clean the string
    a = a.strip(" ")
    a = a.lower()
    a = a.capitalize()
    #Split the clean string
    split_a = a.split(" ")

    #Extract the name
    name = split_a[0]
    noc = split_a[2]
    #Extract the revenue
    dollars = split_a.index("dollars")
    r= dollars-1
    revenue = split_a[r]
    #Convert to the correct data types
    noc=  int(noc)
    revenue = int(revenue)
    #Append the information to the lists
    names.append(name)
    number_of_calls1.append(noc)
    revenues.append(revenue)
#Print out the information
print(names)
print(number_of_calls1)
print(revenues)

['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude', 'Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
[300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80, 300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
[2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500, 2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

Finally, you can make the process even easier and reusable by defining functions.

ðŸ“Œ Define the function "clean_extract".

ðŸ“Œ Use the retured values by assigning them to variables.

In [ ]:
#Create empty lists again
names=[]
number_of_calls1=[]
revenues=[]

In [95]:
#Define a function to clean and extract the data
def clean_extract(datas1):
  for a in datas1:
    #Clean the string
    a = a.strip(" ")
    a = a.lower()
    a = a.capitalize()

    split_a = a.split(" ")

    name = split_a[0]
    noc = split_a[2]

    dollars = split_a.index("dollars")
    r= dollars-1
    revenue = split_a[r]

    noc=  int(noc)
    revenue = int(revenue)

    names.append(name)
    number_of_calls1.append(noc)
    revenues.append(revenue)

    return names,number_of_calls1,revenues

In [101]:
#Assign returned values to variables
names,number_of_calls1,revenues= clean_extract(datas1)

In [103]:
#Print out the information
print("Name:",name)
print("Number of Calls:",number_of_calls1)
print("Revenue:",revenue)

Name: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude', 'Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude', 'Ben']
Number of Calls: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80, 300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80, 300]
Revenue: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500, 2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500, 2400]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

ðŸ“Œ Assign IDs to each employee.

ðŸ“Œ Create dictionaries.

ðŸ“Œ Sort the dictionaries.

First, check how many employees there are and assign the IDs.

ðŸ“Œ Use the len() and range() function.

In [106]:
#Check the number of employees
employee_number = len(name)
print(employee_number)

23

In [110]:
#Generate IDs
id=[]
for i in range(employee_number):
  i+=1
  id.append(i)
print(id)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [111]:
#Check the number of IDs
print(len(id))

23

With the IDs ready, you need to assign the IDs to the employees.

ðŸ“Œ Use the zip() function to pair the employee with the ID.

ðŸ“Œ Convert the zip object into a dictionary.

In [115]:
#Pair the names with the IDs in a dictionary
x= dict(zip(id,name))
print(x)

{1: 'Ben', 2: 'Omer', 3: 'Karen', 4: 'Celine', 5: 'Sue', 6: 'Bora', 7: 'Rose', 8: 'Ellen', 9: 'Bob', 10: 'Taylor,', 11: 'Jude', 12: 'Ben', 13: 'Omer', 14: 'Karen', 15: 'Celine', 16: 'Sue', 17: 'Bora', 18: 'Rose', 19: 'Ellen', 20: 'Bob', 21: 'Taylor,', 22: 'Jude', 23: 'Ben'}

Similarly, create a dictionary for the  employees and their revenues.

In [123]:
#Pair the names with the revenues
y = dict(zip(revenue,name))
print(y)

{2400: 'Ben', 60: 'Omer', 12000: 'Karen', 2275: 'Celine', 500: 'Jude', 770: 'Bora', 4000: 'Rose', 6000: 'Ellen', 800: 'Bob', 1200: 'Taylor,'}

Finally, you need to find the employees with the best and lowest performance.

ðŸ“Œ Sort the dictionary using the sorted() function in ascending and descending order.

In [127]:
#Find the lowest performing employees (ascending order)
z=sorted(y)
for i in z:
  print(y[i])

Omer
Jude
Bora
Bob
Taylor,
Celine
Ben
Rose
Ellen
Karen

In [128]:
#Find the best performing employees (descending order)
z=sorted(y,reverse=True)
for i in z:
  print(y[i])

Karen
Ellen
Rose
Ben
Celine
Taylor,
Bob
Bora
Jude
Omer